@font-face {
    font-family: def;
    src: url("./font.ttf");
}

body {
    background-color: rgb(16, 0, 31);
    font-family: def;
    color: whitesmoke;
}
header {
    background-color: rgb(29, 0, 82);
    color: whitesmoke;
    text-align: center;
    img {
        align-items: left;
    }
}